{% extends "base.html" %}
{% load static %}

{% block content %}
    <section>
        <h3>Загальна інформація</h3>
        <p>
            Наш додаток допомагає викладачам кафедри зберігати та керувати своїми професійними даними. <br>
            Основна функція – це автоматичний парсинг інформації викладача з документів. <br>
            Завантажте ваш файл з даними, і система автоматично розпізнає основні наукові досягнення, кваліфікації та іншу важливу інформацію.
        </p>
        <p>
            Після успішного парсингу, ви зможете переглянути та змінити свої дані для актуалізації або виправлення будь-яких помилок. <br>
            Ви також можете завантажити нові файли для оновлення інформації у будь-який момент.
        </p>
        <p>
            Щоб розпочати, будь ласка, увійдіть у свій обліковий запис або зареєструйтеся, якщо ви новий користувач.
        </p>
    </section>

    <section>
        <h3>Функціональні можливості:</h3>
        <ul>
            <li>Автоматичний парсинг наукових ступенів, кваліфікацій та професійних досягнень з документів.</li>
            <li>Редагування та оновлення власної інформації викладачем.</li>
            <li>Збереження усіх завантажених файлів у вашому персональному кабінеті.</li>
        </ul>
    </section>
{% endblock %}
